*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81ecec;
}
.box{
    width: 500px;
    background-color: #f7f1e3;
    padding: 40px 35px;
}
.box h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.box textarea{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    margin-bottom: 20px;
}
.total{
    display: flex;
    font-size: 20px;
}
.total span{
    font-size: 20px;
    color: red;
    /* font-weight: bold; */
    margin-left: 10px;
}